@charset "UTF-8";
@font-face {
	font-family: 'Cafe24Oneprettynight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BMEULJIRO';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.custom_button{
	border: none;
	outline: none;
	height: 50px;
	width: 100px;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
	box-shadow: 1px 4px 0 black;
}
.custom_button:active{
	box-shadow: 1px 1px 0 black;
	position: relative;
	top: 2px;
}

body{
	font-family: 'Cafe24Oneprettynight';
	font-size: 20px;
	background-color: #ffe3a8;
}

button, input{
	font-family: 'Cafe24Oneprettynight';
	font-size: 18px;
	background-color: #f59b25;
	color: white;
}